name: Post-Merge Store

on:
    pull_request:
        branches: [master] # Change to whatever main is called
        types: [closed]

jobs:
    sync-external-data:
        # This ensure the script ONLY runs if the PR was merged, not just closed/cancelled
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Get Versions
              run: |
                  # Since it's merged, the 'current' version is now on main
                  echo "NEW_VERSION=$(cat VERSION)" >> $GITHUB_ENV
                  # Get the previous version (before this merge)
                  echo "OLD_VERSION=$(git show HEAD~1:VERSION)" >> $GITHUB_ENV

            - name: Run External Sync Script
              shell: node {0}
              env:
                  PR_JSON: ${{ github.event.pull_request }}
                  NEW_VERSION: ${{ env.NEW_VERSION }}
                  OLD_VERSION: ${{ env.OLD_VERSION }}

                  # Corresponds to a repository secret
                  BACKEND_SECRET: ${{ secrets.BACKEND_VERSION_KEY }}
              run: |
                  require('${{ github.workspace }}/.github/scripts/sync-main-merge.js')
